<% content_for :title do %>
  <title>Acompanhamento de dados educacionais</title>
<% end %>

<% content_for :description do %>
  <h2>Acompanhamento de dados educacionais</h2>
<% end %>

<% if Notice.first %>
  <%= Notice.first.content.html_safe %>
<% end %>
