@import "active_admin/mixins";
@import "active_admin/base";

.status_tag.iniciado {
  background: #3498db;
}

.status_tag.salvo {
  background: #f1c40f;
}

.status_tag.enviado {
  background: #2ecc71;
}
